.apoyo {
    
    display: flex;
    justify-content: center;
  }

  img.izquierda {
    float: left;
  }
  
  img.derecha {
    float: right;
  }
  .fondo {
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1563442744-3e17a3bf4932?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YW50aWd1YSUyMGd1YXRlbWFsYXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 60rem;
  }

.textocentrado {
  text-align: center;
}



